<html>
<head>
  <title>
    FORM-FILL
  </title>
</head>
<body style="background-color:gold;color:black">
 <h1>NOW POST METHOD</h1>
  <form action='/form-output-post' method="post">
    ENTER NAME : <input type="text" name="name">
    <br>
    ENTER AGE : <input type="number" name="age">
    <br>
    <input type="submit" value="submit">
  </form>

</body>
</html>
