<<<<<<< HEAD
<html>
<body style="color:red;background-color:black">
<h1 align="center">my web site</h1>
<h2>{{capit con}}</h2>
{{> footer}}
</body>
</html>
=======
<html>
<body style="color:red;background-color:black">
<h1 align="center">my web site</h1>
<h2>{{capit con}}</h2>
{{> footer}}
</body>
</html>
>>>>>>> initial commit
